.descriptionCard {
  width: 50%;
  max-width: 1000px;
  margin: 40px 40px 0px 40px;
  padding: 32px;
  background-color: rgb(43, 43, 43);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 4px rgb(10, 10, 10);
  color: white;
}

.descriptionTitle {
  font-size: 3em;
  font-weight: 80;
}

.descriptionCopy {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 24px;
}
